body {
  margin: 0;
}

$page_header__height: 70px;

.page_header__link {
  font-size: 16px;
  text-decoration: none;
  line-height: $page_header__height;
}

header {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.start-page {
  margin-top: $page_header__height;
}